<style>
  .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.search-hero {
  max-width: 500px;
  padding-bottom: 50px;
  margin:auto;
}
.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}
.form-control::placeholder  {
  font-family: FontAwesome;
}
</style>
<div class="search-hero">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start Searching">
    </div>
<div *ngIf="items?.length>0;else notItems">
    <table class="table mt-3 border-top">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Sale</th>
                          <th>Status</th>
                          <th>Update</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of items|filter:searchText">
                          <td>{{item.Name}}</td>
                          <td>{{item.Price}}</td>
                          <td>{{item.Sale}}</td>
                          <td><span class="dot" [ngStyle]="{'background-color': item.Status==='yes'?'green':'red'}"></span></td>
                          <td><a class="secondary-content"><i (click)="editItem(item)" class="fa fa-pencil"></i> <i *ngIf="editState && itemToEdit.id1 == item.id1" (click)="clearState()" class="fa fa-compress"></i></a>
                          <div *ngIf="editState && itemToEdit.id1 == item.id1">
                            <form (ngSubmit)="updateItem(item)">
                              <div class="col-sm-9">
                                <label for="name">Name</label>
                                <input type="name" class="form-control" placeholder="Enter Name" [(ngModel)]="item.Name" [ngModelOptions]="{standalone: true}">
                              </div>
                              <div class="col-sm-9">
                                <label for="price">Price</label>
                                <input type="price" class="form-control" placeholder="Enter Price" [(ngModel)]="item.Price" [ngModelOptions]="{standalone: true}">
                              </div>
                              <div class="col-sm-9">
                                <label for="sale">Sale</label>
                                <input type="sale" class="form-control" placeholder="Enter Sale" [(ngModel)]="item.Sale" [ngModelOptions]="{standalone: true}">
                              </div>
                              <div class="col-sm-9">
                                <label for="status"><b>Status</b></label>
                                <input type="status" class="form-control" placeholder="Enter Status" [(ngModel)]="item.Status" [ngModelOptions]="{standalone: true}">
                              </div>
                            </form>
                          </div>
                          </td>
                          <td><button type="button" class="btn btn-danger" (click)="deleteItem(item)">Delete</button></td> 
                        </tbody>
                    </table>
</div>

<ng-template #notItems>
<hr>
<h5>You do not have item at this time</h5>
</ng-template>
