<div class="container">
<div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" [formGroup] ="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="First Name" formControlName="firstname">
                    <div *ngIf="registerForm.controls.firstname.invalid && (registerForm.controls.firstname.dirty ||registerForm.controls.firstname.touched)">
		                <small *ngIf="registerForm.controls.firstname.errors.required" class="text-danger">First Name is required.</small>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name" formControlName="lastname">
                    <div *ngIf="registerForm.controls.lastname.invalid && (registerForm.controls.lastname.dirty ||registerForm.controls.lastname.touched)">
		                <small *ngIf="registerForm.controls.lastname.errors.required" class="text-danger">Last Name is required.</small>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address" formControlName="email">
                  <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty ||registerForm.controls.email.touched)">
		                <small *ngIf="registerForm.controls.email.errors.required" class="text-danger">Email is required.</small>
                    </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password" formControlName="password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password" formControlName="confirmpassword">
                    <div *ngIf="registerForm.controls.confirmpassword.invalid && (registerForm.controls.confirmpassword.dirty ||registerForm.controls.confirmpassword.touched)">
		                <small *ngIf="registerForm.controls.confirmpassword.errors.required" class="text-danger">Confirm Password is required.</small>
                    <small *ngIf="registerForm.controls.confirmpassword.errors.mustMatch" class="text-danger">Confirm Password does not match</small>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-user btn-block" (click)=createAcc() [disabled]="registerForm.invalid">Create Account With Firebase</button>
              </form>
              <hr>
              <div class="text-center">
                <a class="small" routerLink="/">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" routerLink="/">Already have an account? Login!</a>
              </div>
            </div>
</div>